RINKEBY_ROUND_ROBIN_CONTRACT_ADDRESS='0xc4742689C106558ae02F61973066fdD26449d823'
RINKEBY_SERVER_ACCOUNT_PRIVATE_KEY=''
INFURA_PROJECT_ID= ''

exports = { RINKEBY_ROUND_ROBIN_CONTRACT_ADDRESS, RINKEBY_SERVER_ACCOUNT_PRIVATE_KEY, INFURA_PROJECT_ID }
